.header {
    width: 100%;
    padding: 1% 0% 1% 0%;
    background-color: #020202;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .logo {
        img {
            width: 100%;
        }
    }
    @media screen and (min-width: 768px) {
        .logo {
            width: 18.641%;
            margin-right: 9.643%;
        }
    }
    .links {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 10px;
        .item {
            display: flex;
            align-items: center;
            justify-content: center;
            a {
                text-align: center;
                cursor: pointer;
                display: inline-block;
                width: 60px;
                img{
                    width: 19px;
                    font-size: 300%;
                    height: 1.5em;
                }
            }
        }
    }
     @media screen and (min-width: 768px) {
        .links {
            width: 40.154%;
        }
    }
    .nav-main{
        width: 102px;
        a {
            display: inline-block;
            font-size: 13px;
            color: #000;
            border-radius: 10px 10px 10px 10px;
            padding: 13%;
            background-color: #fff;
        }
        .elementor-animation-grow {
            transition-duration: .3s;
            transition-property: transform;
        }
    }


}


