main{
    display: block;
    #SITE_PAGES{
        left: 0;
        margin-left: 0;
        width: 100%;
        min-width: 980px;
        position: relative;
        --transition-duration: 700ms;
        #TRANSITION_GROUP{
            #ryolu{
                width: auto;
                min-height: 3931px;
                left: 0;
                margin-left: 0;
                min-width: 980px;
                ._3CemL {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }
                ._3K7uv {
                    height: auto;
                    width: 100%;
                    position: relative;
                    #Containerryolu{
                        [data-mesh-id=ContainerryoluinlineContent] {
                            height: auto;
                            width: 100%;
                            [data-mesh-id=ContainerryoluinlineContent-gridContainer] {
                                position: static;
                                display: grid;
                                height: auto;
                                width: 100%;
                                min-height: 3931px;
                                grid-template-rows: min-content 1fr;
                                grid-template-columns: 100%;
                                padding-bottom: 0px;
                                box-sizing: border-box;
                            }
                        }
                        [data-mesh-id=inlineContent] {
                            position: relative;
                            pointer-events: none;
                        }
                    }
                    ._1KV2M {
                        pointer-events: none;
                    }

                    #comp-kupnmdwk {
                        --bg-overlay-color: transparent;
                        --padding: 0px;
                        --margin: 0px;
                        min-width: 980px;
                        --firstChildMarginTop: -1px;
                        --lastChildMarginBottom: -1px;
                        left: 0;
                        margin-left: 0;
                        width: 100%;
                    }




                }
            }
            .Ry26q {
                height: 100%;
                position: relative;
                grid-area: 1/1/1/1;
            }
        }
    }
}